*.iml

.gradle
/.gradle/
.gradle/

.idea
/.idea/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.idea/

.kotlin
/.kotlin/
.kotlin/

/build
/app/build
/benchmark/build
/core/database/build
/core/designsystem/build
/core/navigation/build
/core/network/build
/data/build
/domain/build
/feature-trending/build
/feature-details/build
/feature-watchlist/build

keystore/
*.jks
*.keystore
keystore/release-keystore.jks

local.properties
/captures
/local.properties
local.properties/

.DS_Store
/captures
.externalNativeBuild
.cxx
